{
	"extends": ["plugin:prettier/recommended", "node"],
	"env": {
		"node": true,
		"es6": true,
		"jest": true
	},
	"rules": {
		"no-unused-vars": "warn",
		"import/prefer-default-export": "off",
		"import/no-nodejs-modules": "off"
	}
}
